@orange: #ff9000;
@black: #000000;
@white: #ffffff;
@gray: #e9e9e9;

@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: url(../fonts/proxima-nova/ProximaNovaRegular.otf) format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  src: url(../fonts/proxima-nova/ProximaNovaBold.otf) format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 300;
  src: url(../fonts/proxima-nova/ProximaNovaSemibold.otf) format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  font-weight: 100;
  src: url(../fonts/proxima-nova/ProximaNovaLight.otf) format("opentype");
}

@font-face {
  font-family: 'Majestic';
  src: url(../fonts/Majestic.ttf);
}


html, body{font:normal normal 14px 'ProximaNova', Open Sans, Helvetica, sans-serif; font-size: 16px;}
.left{float: left;}
.right{float: right;}
.majestic{font-family: 'Majestic';}

h2{font-size: 30px; font-weight: bold; text-align: center;}

hr.line{
  border: 0;
  height: 2px;
  max-width: 630px;
  background-color: #c2c2c2;
  margin-bottom: 70px;
  text-align: center;
}
hr.line:after{
  content: "\2022";
  color: #ff9000;
  font-size: 36px;
  display: inline-block;
  position: relative;
  top: -23px;
  padding: 0 10px;
  background: @white;
}

.f-lighter{font-weight: 100;}

.social-icons{
  width: 49px; height: 49px;
  display: inline-block;
  background: url(../images/icons-sm.png) no-repeat;
  &.vk{background-position:-51px -51px;}
  &.fb{background-position:0 0;}
  &.tw{background-position:-51px 0;}
}
.btn-main{
  color: @orange;
  border: 2px solid @orange;
  padding: 10px 30px;
  border-radius: 0;
  transition: 0.5s;
}

.main-ADlogo{
  margin: auto;
  background: url('../images/logo.png') center;
  background-image: url('../images/logo.svg'), -khtml-linear-gradient(transparent, transparent);
  background-image: url('../images/logo.svg'), -webkit-linear-gradient(transparent, transparent);
  //background-image: url('../images/logo.svg'), url('../images/logo.jpg');
  background-image: url('../images/logo.svg'), -ms-linear-gradient(transparent, transparent);
  background-image: url('../images/logo.svg'), linear-gradient(transparent, transparent);
  background-image: url('../images/logo.svg'), -o-linear-gradient(transparent, transparent);
  background-repeat: no-repeat, no-repeat;

  width: 400px;
  height: 50px;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0;
  color: #ffffff;
}

header {
  .head {
    height: 800px;
    background: no-repeat url("../images/bg/bg-top2.jpg") center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    .logo{
      font-size: 20px;
      margin: 70px 0 100px;
      span{margin-left: -36px;}
    }
    .h1{
      font-size: 64px;
      margin-bottom: 60px;
      &.work{
        text-align: left;
      }
      &.style{
        text-align: right;
        line-height: 20px;
      }
    }
    .f-lighter{font-size: 24px;}
    .reference{
      color: @orange;
      font-family: 'Majestic';
      font-size: 140px;
      position: relative;
      z-index: 1;
    }
    hr{
      width: 280px;
      margin-bottom: 50px;
    }
  }


  .navbar-header{.main-ADlogo{max-width: 80%;}}
  .navbar .navbar-nav>li>a {color: @white; text-transform: uppercase; font-size: 16px; font-weight: 300;}
  .navbar .navbar-toggle .icon-bar {background-color: @orange;}
  .navbar .navbar-toggle {border-color: @orange;}
  .navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #F4EFF7;}
  .nav>li>a:focus, .nav>li>a:hover {background-color: @orange; color: @black;}
  #menu{
    background: @black;
    &.relative{position: relative;}
    &.fixed{position: fixed; top: 0; width: 100%; height: 50px; z-index: 1;}
    .logo-menu{
      margin: 4px 0 -4px;
      a{max-width: 100%;}
      a:hover{background-color: transparent;}
    }
  }


}

  #land-page{
    h2{font-size: 48px; line-height: 60px;}
  }

  #for-you{
    font-size: 30px;
    line-height: 30px;
    .circle{
      width: 200px;
      height: 200px;
      border: solid @orange 2px;
      border-radius: 50%;
      margin: 0 auto 10px;
    }
    span.big{
      font-size: 120px;
      font-weight: bold;
      text-align: left;
      line-height: 100px;
      margin-left: -20px;
    }
    .num{text-align: left;}
    .desc{
      text-align: right;
      &.center{text-align: center;}
      font-weight: 100;

      i{
        font-family: 'Majestic';
        font-style: normal;
        font-size: 36px;
      }
    }
    .btn-main{margin: 70px 0 50px; font-size: 24px; }
  }

  #description{
    background: @gray;
    font-size: 20px;
    padding-bottom: 50px;
    hr.line:after{ background: @gray;}
    img{max-width: 100%;}
    .majestic{
      color: @orange;
      text-align: right;
      line-height: 20px;
    }
    p{
      margin: 0;
      display: block;
    }
    .first{
      margin: 30px 0;
      font-size: 16px;
      .majestic{font-size: 26px;}
    }
    .second{
      margin: 30px 0;
      .majestic{font-size: 36px;}
    }
  }

  #services{
    background: url("../images/bg/bg-2.jpg") center;
    background-size: cover;
    padding-bottom: 50px;
    hr.line:after{ background: transparent;}
    h2, h3{color: @white; text-align: center;}
    .image{
      width: 250px;
      height: 250px;
      border: 2px solid @orange;
      margin: 0 auto;
      img{max-width: 100%;}
      background: no-repeat center;
      transition: all 2s;
    }
    //.concept .image img{margin-top: 50px;}
    //.modeling .image img{margin-top: 60px;}
    //.support .image img{margin-top: 40px;}

    .concept .image{background-image: url("../images/ico/ico-lamp.png");}
    .modeling .image {background-image: url("../images/ico/ico-3d.png");}
    .support .image {background-image: url("../images/ico/ico-uzor.png");}

    .concept:hover .image{background-image: url("../images/ico/ico-lamp-hover.png");}
    .modeling:hover .image {background-image: url("../images/ico/ico-3d-hover.png");}
    .support:hover .image {background-image: url("../images/ico/ico-uzor-hover.png");}
  }

  #price{
    padding-bottom: 50px;
    p{
      color: #757575;
      font-size: 12px;
    }
    img{max-width: 100%;}
  }

  #scheme{
    background: @gray;
    hr.line:after{ background: @gray;}
  }

  footer{
    background: @black;
    padding: 20px 0;
    font-size: 14px;
    color: #777777;
    a, a:hover, .h1{color: #cecece;}
    .h1{
      font-size: 20px;
      font-weight: bold;
    }
    ul{padding-left: 20px;}
  }

  @media(max-width: 768px) {
    header .head .h1 {font-size: 36px;}
    header .head .reference {font-size: 90px;}
    footer .h1 { font-size: 16px;}
  }

  //pages
  #menu-style{
    font-weight: bold;
    a{color: #000000;}
    .nav>li>a:hover {background-color: transparent; color: #A22222;}
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      background-color: transparent;
      color: red;
    }
  }

  #content-style{
    h1, h2{text-align: center;}
    img{height: 400px; margin: 20px 0; width: 100%;}

    #tegs{
      ul{list-style: none;}
      li{
        display: inline-block;
        margin: 10px 30px;
        a{
          color: #c8c8c8;
          font-weight: bold;
        }
        a:hover{
          color: #9e9e9e;
          text-decoration: none;
        }
        &.active a{color: #8d8d8d}
      }
    }
  }
